@import "mixins.less";

.messages {
  padding-bottom: 5px;
  margin-bottom: 10px;
  overflow: auto;
  .panel {
    padding: 5px;
    margin-bottom: 2px;
    &:last-child {
      margin-bottom: 20px;
    }
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}
.square {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.rooms {
  max-height: 20px;
  max-width: 60%;
  text-align: right;
  overflow: scroll;
}

.youtube {
  overflow: auto;
  padding-bottom: 20px;
  .youtube-container {
    display: none;
    iframe#player {
      width: 100%;
      min-height: 200px;
      max-height: 250px;
    }
  }
}

.footer-indicator {
  .vertical(rgba(255,255,255,0), #fff);
}
