.messages {
  overflow: auto;
}
.messages .panel {
  padding: 5px;
  margin-bottom: 2px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.messages .panel:last-child {
  margin-bottom: 20px;
}
.square {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.rooms {
  max-height: 20px;
  max-width: 60%;
  text-align: right;
  overflow: scroll;
}
.youtube {
  overflow: auto;
  padding-bottom: 20px;
}
.youtube .youtube-container {
  display: none;
}
.youtube .youtube-container iframe#player {
  width: 100%;
  min-height: 200px;
  max-height: 250px;
}
.footer-indicator {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-repeat: repeat-x;
}
